*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
}
header {
	height: 100vh;
	background: linear-gradient(rgba(33, 8, 80, 0.8), rgba(31, 7, 65, 0.4)), url(03.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Logo, .Top_menu{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}
.Top_menu li{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
} 
.Top_menu a{
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.Top_menu a:hover{
    color: blueviolet;
}
.Logo h1{
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}
.main{
	width: 350px;
	height: 500px;
	background: rgb(28, 11, 72);
	overflow: hidden;
	background: url;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}	
.signup{
	position: relative;
	width:100%;
	height: 100%;

}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.description {
	top: 35%;
	left: 10%;
	width: 35%;
	position: absolute;
}

.description h1 {
	margin: 0;
	font-size: 40px;
	color: #fff;
}

.description p {
	color: #c7c7c7;
	font-size: 20px;
}
.post-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social li {
	padding: 0 15px 0 0;
}

.social li a {
	color: #c7c7c7;
	font-size: 25px;
	text-decoration: none;
}

.post-nav {
	display: flex;
	list-style: none;
}

.post-nav li {
	padding: 0 30px 0 0;
}

.post-nav li a {
	color: #c7c7c7;
	text-decoration: none;
	font-size: 18px;
}